#box-cont-1 {
    visibility: visible;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s; 
    animation-delay: 0.3s;
}
#box-cont-2{
    visibility: visible;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
#box-cont-3{
    visibility: visible;
    -webkit-animation-delay: 0.6s; 
    -moz-animation-delay: 0.6s; 
    animation-delay: 0.6s;
}
#box-cont-4{
    visibility: visible;
    -webkit-animation-delay: 0.6s; 
    -moz-animation-delay: 0.6s; 
    animation-delay: 0.6s;
}